<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>


  </head>
  <body>
    <div class=page>
      <h1>Competitor Data</h1>
      {{ script3 | safe }}
      {{ div3 | safe }}
    </div>


    <div class=page2>
      <h1>Volatility Data</h1>
      {{ script4 | safe }}
      {{ div4 | safe }}
    </div>

  </body>
</html>
