<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
    {{ script1 | safe }}

  </head>
  <body>
    <div class=page>
      <h1>Stock Data For Facebook</h1>
      {{ div1 | safe }}
    </div>


    <div class=page4>
      <h1>Plot2</h1>
      {{ script2 | safe }}
      {{ div2 | safe }}
    </div>

  </body>
</html>
